.sidebar{
    flex: 0 0 20%;
    background-color: #f3f7ff;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.side_nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    color: #404040;
    padding: 0 10%;
}

.side_nav_item{
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 10%;
    margin-top: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.side_nav_item_active{
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 10%;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: rgba(42, 58, 255, 0.1);
    cursor: pointer;
}

.side_nav_item:hover{
    background-color: rgba(42, 58, 255, 0.1);
}



.sidebar_dashboard_logo{
    width: 26px;
    height: 26px;
}

.sidebar_invoice_logo{
    width: 27px;
    height: 27px;
}

.sidebar_user_logo{
    width: 25px;
    height: 25px;
}

.sidebar_setting_logo{
    width: 26px;
    height: 26px;
}

.sidebar_nav_link{
    margin-left: 10%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #404040;
}

.sidebar_nav_link_active{
    margin-left: 10%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2a3aff;
}

@media only screen and (max-width: 1070px) {
    .sidebar{
        min-height: 8rem;
    }
    .side_nav{
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .side_nav_item,.side_nav_item_active{
        width: 25%;
        justify-content: center;
        padding: 2rem 1% 2rem 1%;
    }
}

@media only screen and (max-width: 800px) {
    .sidebar_nav_link,.sidebar_nav_link_active{
        display: none;
    }

}