.main_div{
    height: 4rem;
    width: 11rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    font-weight: bold;
    cursor: pointer;
    box-shadow: .5px 0.5px 0.5px #ccc;
    font-family: 'Open Sans', sans-serif !important;
}

.main_div:active{
    box-shadow: 1px 1px 0.5px #ccc;
}

.main_div:focus{
    outline: none;
}

.main_div:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}