.main_div{
    width: 100%;
    padding: 3rem 6rem;
    overflow-x: auto;
}

@media only screen and (max-width: 1024px) {
  .main_div {
    padding: 3rem 6rem 12rem;
  }
 }

@media only screen and (max-width: 767px) {
  .main_div {
    padding: 3rem 4rem 12rem;
  }
 }

   .content_header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.profile_header{
    font-size: 3rem;
    font-weight: bold;
    color: #404040;
    margin-bottom: 4rem;
}
.invoice_list_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .invoice_list_top {
    flex-direction: column;
  }
 }

.invoice_list_header{
    font-size: 2.4rem;
    font-weight: bold;
    color: #404040;
}

.align_header_item{
    display: flex;
    align-items: center;
}   

.table_div{
    border-radius: 8px;
    border: solid 1px #e8e8e8;
}

.table_border{
   margin-bottom: 0;
   min-width: 1020px;

}

.table_head{
    border: 0 !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    font-size: 1.6rem;
    font-weight: bold;
    color: #404040;
  }
  
  .table_item{
    border: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 1.6rem;
    font-weight: 400;
    color: #404040; 
  }


  .row_item tr:not(:last-child){
    border-bottom: solid 1px #e8e8e8 !important;
  }
  
  
  .table_head:first-child,.table_item:first-child{
    padding-left: 2% !important;
    
  }
  
  
  .table_head:last-child,.table_item:last-child{
    padding-right: 2% !important;
  }
  
  .invoice_no,
  .invoice_date,
  .cust_name,
  .city,
  .due_date,
  .rupee_logo,
  .amount{
    font-size: 1.6rem;
    font-weight: 600;
    color: #404040;
    margin-bottom: 8px;
  }



  .invoice_date,.city{
    font-weight: 400;
  }



  .custom_input{
    height: 4rem;
    margin-bottom: -1rem;
    width: 20rem;
    border-radius: 8px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
    font-size: 1.6rem;
    padding-left: 1rem;
  }

  .custom_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a2a2a0 ;
  }


